@keyframes comefromtop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes returnfromtop {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}
.main-body-container {
  text-align: center;
}
.input {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.alert {
  background-color: white;
  position: absolute;
  top: 0%;
  right: 35%;
  padding: 2em;
  font-size: 1em;
  border: grey solid 2px;
}
